<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpx.mapper.JsoupMapper">


<!-- 让这个xml使用二级缓存 -->
<!-- <cache></cache> -->
<!--  <cache eviction="FIFO" flushInterval="60000" readOnly="false" size="1024"></cache> -->

	<select id="list" resultType="com.cpx.pojo.AppInfo">
		select * from app
	</select>

	<insert id="insert" parameterType="com.cpx.pojo.AppInfo">
		insert into app(id,name,appSize,appSystem,type,status)
		values(#{id},#{name},#{appSize},#{appSystem},#{type},#{status})
	</insert>
	
</mapper>